* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detailcol {
  max-height: 9rem;
}
.music-img {
  height: 8.375rem;
}

.music-title {
  font-size: 2rem;
  font-family: "domine", sans-serif;
  font-weight: bold;
}

.music-category,
.music-author {
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

.icons {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.7;
}

.interactive button {
  background-color: rgb(241, 241, 241);
  height: 3rem;
  width: 3rem;
}

.icons:hover {
  opacity: 1;
}

.like-icon,
.fav-icon {
  transition: 0.3s ease;
}

.like-icon:active {
  content: url("../ASSETS/detailsectionimg/likeactiveicon.png");
}

.fav-icon:active {
  content: url("/ASSETS/detailsectionimg/favactiveicon.png");
}

/* recent lyrics section */
.recent p {
  font-family: "domine", sans-serif;
  font-size: 2.25rem;
}

.recentmusicimg {
  height: 5rem;
  width: 5rem;
}

.recent-title {
  font-size: 1.3rem !important;
}
.recent-description {
  font-size: 1rem !important;
}

.recent {
  max-height: 220px;
  overflow-y: auto;
}

.lyricssection h1 {
  font-size: 1.7rem;
}

.lyricssection p {
  font-size: 1.5rem;
}
