@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
  font-size: 1rem;
}
a {
  text-decoration: none;
}

:root {
  /* font  */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Outfit", sans-serif;

  /* color */
  --primary-color: #a91f23;
  --secondary-color: #f2f4f5;
  --tertiary-color: #3b5163;
}
.container{
  width: 1140px ;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
/* navbar */
header {
  padding: 19px 0;
  margin-bottom: 10px;
}
.header-list {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: var(--primary-font);
  font-size: 1rem;
}

header img {
  width: 22px;
  height: 22px;
  margin-left: 11px;
}

.chapter-section {
  padding: 6rem 0;
  background-color: #faf8f7;
}
.active-item {
  font-weight: bold;
  position: relative;
  margin-left: 1rem;
}

.active-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
}
.hover-item {
  position: relative;
}
.hover-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 0%;
  height: 3px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}
.hover-item:hover::after {
  width: 100%;
}
/* translation dropdown */
.current-translation {
  border: 1.5px solid var(--primary-color) !important;
  border-radius: 6px;
  position: relative;
}
.current-translation i{
  position: absolute;
  right:9px;
  top: 0;
  color: var(--primary-color);
  font-size: 20px;
}
.current-translation:hover{
  background-color: inherit !important;
}
.current-translation:hover .title-shortform{
  background-color: var(--primary-color) !important;
}
/* .translation-status {
  position: static;
  padding: 6px 6px;
  font-size: 10px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 20px;
} */
.translation-title {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #333;
}
.title-shortform {
  font-family: var(--primary-font);
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 3px 6px;
  margin-top: 6px;
  margin-bottom: 0;
  color: white;
  background-color: var(--primary-color);
  transition: all 0.3s ease;

}
.btn-dropdown {
  background-color: transparent !important;
  color: #212529;
  border: none;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.btn-dropdown:hover {
  color: black;
  opacity: 1;
}
.btn-secondary.dropdown-toggle.show {
  color: #000 !important;
}

/* book dropdown style */

.translation-dropdown {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 300px;
  overflow: auto;
  padding: 10px;
}

.translation-dropdown .dropdown-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px 54px 12px 16px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: background-color 0.2s ease;
}
.translation-dropdown .dropdown-item:hover {
  background-color: #f1f1f1;
}
.translation-dropdown .dropdown-item:hover .title-shortform{
  background-color: var(--tertiary-color);
}
.section-header {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
  padding-left: 0.5rem;
}
.dropdown-menu-custom {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 300px;
}

.scroll-section {
  display: relative;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.bible-icon{
  position: absolute;
  top: 50%;
  color: var(--primary-color);
  opacity: 0.2;
  font-size: 50px ;

}
.scroll-section-2 {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 50%;
}
.two-column-list {
  columns: 2;
  column-gap: 1rem;
}
/* old and new testament */
.old-testament .dropdown-item,
.new-testament .dropdown-item {
  border-bottom: 2px solid #cacaca;
  border-radius: 10px;
  padding: 10px 13px;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.old-testament .dropdown-item {
  background-color: #f7f6f6;
}
.new-testament .dropdown-item {
  background-color: #f3f8fd;
}
.new-testament .dropdown-item {
  margin-left: 10px;
}
.old-testament .dropdown-item::before {
  color: var(--primary-color);
}
.new-testament .dropdown-item::before {
  color: var(--tertiary-color);
}
.ot-icon {
  color: var(--primary-color);
  font-size: 16px;
  margin-right: 6px;
}
.new-testament .ot-icon {
  color: var(--tertiary-color);
}

.current-testament {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  font-weight: 500 !important;
  border: 1.5px solid var(--primary-color) !important;
}
.current-verse {
  color: var(--primary-color) !important;
  font-weight: bold !important;
}
.current-testament:hover,
.current-verse:hover {
  color: var(--primary-color);
  font-weight: bold;
  background-color: white;
}
.book-dropdown .dropdown-item {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  border: 1.5px solid white;
  transition: all 0.4s ease;

  font-family: var(--secondary-font);
}
.book-dropdown .dropdown-item:hover {
  border-bottom: 2px solid var(--tertiary-color);
}

/* main section */
.open-book {
  position: absolute;
  top: 0;
  right: -110px;
  transform: rotate(30deg);
  opacity: 0.2;
  width: 14%;
}
.chap-info {
  position: relative;
  margin-bottom: 9px;
  background-color: white;
  padding: 1rem 1.56rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  transition: all 0.3s ease;
}

.chap-info h4 {
  font-weight: 600;
  font-size: 18px;
}
.chap-info .total-verses {
  margin: 5px 0;
  font-size: 13px;
  color: #6d727a;
}
.chap-info .total-read {
  font-size: 15px;
  color: #353336;
}
.chap-info:hover {
  background-color: #f7f7f7;
}
.status {
  position: absolute;
  right: 24px;
  top: 16px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: white;
  padding: 0.4rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Read-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
  transition: all 0.3s ease;
}
.Read-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
.currently-reading {
  border: 1.3px solid rgb(192, 183, 183);
}

.book-items li {
  margin-bottom: 10px !important;
}
.book-items h6 {
  margin-bottom: 0;
  line-height: 36px;
}

/* breadcrumb-navigation */
.breadcrumb-navigation {
  margin: 1rem 0;
}
.breadcrumb-navigation a {
  margin-left: 5px;
  font-size: 0.9rem;
  color: var(--tertiary-color);
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 6px;
}

.breadcrumb-navigation .active {
  font-weight: 500 !important;
  color: var(--primary-color);
  background-color: #f3f3f3;
}


@media (max-width: 580px){
  .container{
    width: 100%;
  }

}