@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* font  */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Outfit", sans-serif;

  /* color */
  --primary-color: #a91f23;
  --secondary-color: #f2f4f5;
  --tertiary-color: #3b5163;
}
html {
}
body {
  font-size: 1rem;
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
  color: inherit;
}
.container{
  width: 1140px ;

}
/* navbar */
header {
  padding: 19px 0;
  margin-bottom: 10px;
}
header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: var(--primary-font);
  font-size: 1rem;
}

header img {
  width: 22px;
  height: 22px;
  margin-left: 11px;
}


.active-item {
  font-weight: bold;
  color: var(--tertiary-color);
  position: relative;
}
.active-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
}
.hover-item {
  position: relative;
  margin-left: 1rem;
}
.hover-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 0%;
  height: 3px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}
.hover-item:hover::after {
  width: 100%;
}

/* main section */
.verse-section {
  padding: 6rem 0;
  background-color: #faf8f7;
}
.main-section {
  position: relative;
  margin: 15px 0 20px 0;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  padding: 32px 45px;
  background-color: white;
  border-bottom: 5px solid var(--primary-color);
  z-index: 20;
}
.main-section img:nth-child(1) {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  opacity: 0.2;
  width: 90px;
  z-index: 5;
}
.light {
  position: absolute;
  right: -88px;
  top: -70px;
  z-index: 10;
  transform: rotate(45deg);
  opacity: 0.2;
}
.main-section h4 {
  font-size: 1.75rem;
  font-family: var(--secondary-font);
  font-weight: 600;
  line-height: 36px;
}
.main-section h4 .translation {
  color: #bc895b;
  font-size: 1.625rem;
}
.main-section h4 .line {
  margin: 0 10px 0 10px;
  font-weight: 400;
}

.main-section p {
  font-size: 1.125rem;
  font-family: var(--primary-font);
  color: #4b4b4f;
  line-height: 32.4px;
}

.verse-counter {
  position: absolute;
  right: 1rem;
  color: var(--primary-color) !important;
  text-decoration: underline;
  font-family: var(--secondary-font) !important;
  font-size: 1.25rem !important;
  font-weight: 600;
}
.btn-container {
  margin-bottom: 30px;
}
.btn-primary {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 12px;
  padding: 11px 0;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: #4a515a;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

.verse-navigation {
  border-radius: 12px;
  border: 1px solid #d6d6d6;
}
.previousbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 81.6px;
  color: white;
  border-right: 1px solid #d6d6d6;
  border-radius: 12px 0 0 12px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}
.previousbtn:hover {
  background-color: var(--tertiary-color);
  color: white;
}
.previousbtn:hover i {
  animation: fa-fade 1.2s infinite;
}
.nextbtn {
  border-radius: 0 12px 12px 0;
  border-left: 1px solid #d6d6d6;
}
.info {
  padding: 1rem 1.5rem;
}
.info p:nth-child(1) {
  font-size: 12px;
  color: #6d727a;
  margin-bottom: 8px;
}
.info p:nth-child(2) {
  font-size: 15px;
  color: var(--tertiary-color);
  font-weight: bold;
}
.read-more a {
  font-weight: 500;
  color: var(--primary-color);
}

/* breadcrumb-navigation */
.breadcrumb-navigation {
  display:flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.breadcrumb-navigation a {
  margin-left: 5px;
  font-size: 0.9rem;
  color: var(--tertiary-color);
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 6px;
}

.breadcrumb-navigation .active {
  font-weight: 500 !important;
  color: var(--primary-color);
  background-color: #f3f3f3;
}

@media (max-width: 580px){
  .container{
    width: auto;
  }

}