:root {
  --primary-color: #b10707;
  --secondary-color: #fff;
  --primary-font: "assistant", sans-serif;
  --secondary-font: "old-standard-tt", serif;
  --font-color: #181818;
  --main-heading-size: 2.25rem;
  --sub-heading-size: 1.125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

/* top bar */
.home-container {
  position: relative;
  background-image: url(assets/herosectionbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 36rem;
  position: relative;
  z-index: 0;
}
.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.top-bar-container {
  background-color: #3c2816;
  width: 100%;
  height: 2.5rem;
  position: relative;
  z-index: 1;
}
.container {
  width: 100%;
  height: 100%;
}
.top-bar-icon,
.top-bar-text {
  font-size: 0.75rem;
}

.top-bar-icon {
  transition: color 0.3s ease;
  cursor: pointer;
}

.top-bar-icon:hover {
  color: var(--primary-color) !important;
}

/* main navbar */
.header {
  height: 7.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
  height: 3.75rem;
  width: 3.75rem;
}
.church-name {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--font-color);
}

.nav .nav-item .nav-link {
  text-decoration: none;

  font-size: 1rem;
  color: var(--font-color);
  font-weight: 700;
}
.nav .nav-item .nav-link:hover {
  color: var(--primary-color) !important;
}

/* hero section */
.hero-section {
  height: auto;
  position: relative;
  z-index: 1;
}
.main-title {
  height: 9.0625rem;
  width: 100%;
}
.hero-title {
  margin-top: 3rem;
  font-size: 3.4375rem;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  line-height: 1.18;
}

.hero-description {
  font-size: 1.125rem;

  color: var(--secondary-color);
  margin-top: 1.68rem;
  padding: 0 4.375rem;
  letter-spacing: 0.03em;
  line-height: 1.45;
}
.button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 700;
  width: 160px;
  height: 46px;
  border-radius: 0.2rem;
  border: none;
  margin-top: 1.68rem;
}

/* upcoming event section */
.event {
  position: relative;
  z-index: 1;
  width: 100%;
}

.event .container .row {
  padding: 30px 35px 30px 70px;
  background-color: #f9f9f9;
  border-radius: 0.4rem;
  position: relative;
  top: -5rem;
  height: 10rem;
}

.event-date {
  background-color: var(--primary-color);
  height: 4.375rem;
  width: 4.375rem;
  padding: 0.625rem;
}
.event-day {
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.75;
}
.event-detail h3 {
  font-size: 1.125rem;
  color: var(--font-color);
  font-weight: 700;
}
.event-detail h3 a:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color) !important;
}

.event-detail p {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 0.75rem;
  color: #7c7c7c;
  line-height: 0.2;
}
.event-detail p i {
  color: var(--primary-color);
  margin-right: 0.45rem;
}

.countdown-container {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #f9f9f9;

  border-radius: 8px;
}

.time-block {
  text-align: center;
  padding: 0 1rem;
  height: 80px;
  width: 100px;
}

.number {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 0.75;
  color: #181818;
}

.label {
  font-size: 1rem;
  line-height: 0.75;
  color: #7c7c7c;
  margin-top: 1.1875rem;
}

.divider {
  width: 1px;
  height: 75px;
  background-color: #ccc;
}

/* about section */
.main-heading {
  font-size: var(--main-heading-size);
  font-weight: 700;
  color: #181818;
}

.sub-heading {
  font-family: var(--secondary-font) !important;
  font-size: 1rem;
  font-style: italic;
  color: #7c7c7c;
  margin-top: 0.4rem;
  letter-spacing: 0.03em;
}

.about_img {
  width: 34.6875rem;
  height: 22.52rem;
  padding-right: 15px;
  padding-left: 0;
}
.about_img img {
  width: 100%;
}
.about_text {
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.75;
  color: #7c7c7c;
  padding: 11px 0 0 30px;
}
