:root {
  --primary-color: #b10707;
  --secondary-color: #fff;
  --primary-font: "assistant", sans-serif;
  --secondary-font: "old-standard-tt", serif;
  --font-color: #181818;
  --main-heading-size: 2.25rem;
  --sub-heading-size: 1.125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--font-color);
}
.web_section {
  padding-top: 89;
}
/* top button */
.top-button-link {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  z-index: 100;
  opacity: 0;
}
.top-button-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.top-button-link.active {
  bottom: 2rem;
  opacity: 1;
  pointer-events: auto;
}

/* top bar */
.home-container {
  position: relative;
  background-image: url(assets/herosectionbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 32rem;
  position: relative;
  z-index: 0;
}
.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.top-bar-container {
  background-color: #3c2816;
  width: 100%;
  height: 2.5rem;
  position: relative;
  z-index: 1;
}
.container {
  width: 100%;
  height: 100%;
}
.top-bar-icon,
.top-bar-text {
  font-size: 0.75rem;
}

.top-bar-icon {
  transition: color 0.3s ease;
  cursor: pointer;
}

.top-bar-icon:hover {
  color: var(--primary-color) !important;
}

/* main navbar */
.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header {
  height: 7.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
  height: 3.75rem;
  width: 3.75rem;
}
.church-name {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--font-color);
}

.nav .nav-item .nav-link {
  text-decoration: none;

  font-size: 1rem !important;
  color: var(--font-color);
  font-weight: 600;
}
.nav .nav-item .nav-link:hover {
  color: var(--primary-color) !important;
}
.hamburger {
  display: none;
}
.search-wrapper {
  overflow: hidden;
  position: relative;
}

/* .search-input {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 73px;
  background-color: #a80000;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 10;
}
*/
.search-input {
  position: absolute;
  left: 0;
  top: -120px;
  width: 100%;
  height: 120px;
  background-color: #a80000;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  opacity: 1;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

#search-toggle:checked ~ .search-input {
  top: 0;
  opacity: 1;
  pointer-events: auto;
}
.cross-icon {
  position: absolute;
  right: 220px;
  top: 51px;
  transition: transform 0.4s ease-in-out;
}
.cross-icon:hover {
  transform: scale(1.2);
}
.form-control-1 {
  position: relative;
  right: 150px;
  height: 40px;
  width: 456px;
  border-radius: 0;
}
.form-control-1:focus {
  box-shadow: none;
  border: none;
}
.form-control-1::placeholder {
  color: #999;
}
.header-wrapper {
  position: relative;
  transition: transform 0.5s ease-in-out;
}
#search-toggle:checked ~ .header-wrapper {
  transform: translateY(120px);
}
/* search overlay */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 90;
}

#search-toggle:checked ~ .search-overlay {
  opacity: 1;
  pointer-events: auto;
}

/* hero section */
.hero-section {
  height: auto;
  position: relative;
  z-index: 1;
}
.main-title {
  height: 9.0625rem;
  width: 100%;
}
.hero-title {
  margin-top: 8rem;
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  line-height: 1.18;
}

.hero-description {
  font-size: 1rem;

  color: var(--secondary-color);
  margin-top: 1.5rem;
  padding: 0 4.18rem;
  letter-spacing: 0.02em;
  line-height: 1.45;
}
.button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 700;
  width: 160px;
  height: 46px;
  border-radius: 0.2rem;
  border: none;
  margin-top: 1.68rem;
}

/* upcoming event section */
.event {
  position: relative;
  z-index: 1;
  width: 100%;
}

.event .container .row {
  width: 85%;
  padding: 30px 0px 30px 0px;
  background-color: #f9f9f9;
  border-radius: 0.4rem;
  position: relative;
  top: -5rem;
  height: 10rem;
  margin: 0 auto;
}

.event-date {
  background-color: var(--primary-color);
  height: 70px;
  width: 70px;
  padding: 0.625rem;
}
.event-day {
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.75;
}
.event-detail h3 {
  font-size: 1.125rem;
  color: var(--font-color);
  font-weight: 700;
}
.event-detail h3 a:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color) !important;
}

.event-detail p {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 0.75rem;
  color: #7c7c7c;
  line-height: 0.2;
}
.event-detail p i {
  color: var(--primary-color);
  margin-right: 0.45rem;
}

.countdown-container {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #f9f9f9;

  border-radius: 8px;
}

.time-block {
  text-align: center;
  margin-left: 2rem;
  height: 80px;
  width: auto;
}

.number {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 0.75;
  color: #181818;
}

.label {
  font-size: 1rem;
  line-height: 0.75;
  color: #7c7c7c;
  margin-top: 1.1875rem;
}

.divider {
  width: 1px;
  height: 75px;
  background-color: #ccc;
}

/* about section */
.about {
  margin-bottom: 6.5rem;
}
.about_img {
  height: 360px;
  width: 555px;
}
.about_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about_text {
  padding: 11px 0 0 40px;
}
.about_text p {
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.75;
  color: #7c7c7c;
  font-weight: 400;
}
.about-btn {
  position: relative;
  bottom: 1.1rem;
}
.main-heading {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.185;
  color: var(--font-color);
}
.sub-heading {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  color: #7c7c7c;
  margin-top: 0.3125rem;
}

/* sermons section */
.sermon-row {
  padding-bottom: 6.4rem;
}
.sermons {
  padding-top: 6.4rem;
  background-color: #f7f7f7;
}
.card-img {
  width: 100%;
}
.card-img img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.sermon-card {
  padding: 0;
  margin: 0 1rem;
  /* width: 360px; */
}
.card-body {
  padding: 44px 20px 50px;
}
.card-title {
  font-size: 1.25rem;
}
.sermon-card .card-title a {
  font-size: 1.125rem;
  color: var(--font-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.33;
}
.sermon-card .card-title a:hover {
  color: var(--primary-color);
}
.sermon-card .card-body p {
  font-family: var(--secondary-font);
  font-size: 0.8125rem;
  color: #7c7c7c;
  font-style: italic;
}
.sermon-card .card-body p a {
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

.sermon-link {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.sermon-link i {
  background-color: #eaeaea;
  color: #6b6b6b;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  opacity: 0.8;
}

.sermon-link i:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* mission section */
.mission {
  position: relative;
  background-image: url(assets/mission.jpg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 6.4rem;
  position: relative;
  z-index: 0;
}
.mission-row {
  padding: 4.5rem 0;
  position: relative;
  z-index: 1;
}
.mission-icon {
  font-size: 2.25rem;
  color: var(--primary-color);
  font-weight: lighter;
}
.mission-item {
  padding: 0 4.35rem;
}
.mission-item h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0.6rem;
}
.mission-item p {
  margin-top: 1rem;
  font-size: 0.875rem;
}

/* .vertical-divider {
  width: 1px;
  background-color: white;
  height: 2rem;
  margin: 0 15px;
  display: inline-block;
} */

/* upcoming event section */
.upcoming-events {
  padding-bottom: 6.4rem;
}
.event-card {
  /* width: 406.93px; */
  /* margin-left: 75px; */
}
.event-card .card-img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.event-card-body {
  padding: 1rem 0 1rem 0;
}
.event-card-body .event-detail {
  padding-left: 1.2rem;
}

/* donation section */
.donation {
  position: relative;
  background-image: url(assets/donation.jpg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  position: relative;
  z-index: 0;
}
.donation .container {
  position: relative;
  z-index: 1;
}
.donation-heading {
  font-size: 2.125rem;
  font-weight: 700;
  color: white;
  font-style: normal;
  margin-bottom: 1.5rem;
}
/* .donation-box {
  margin-top: 6rem;
  margin-bottom: 6rem;
} */
.donation-text {
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  font-style: italic;
  color: #c0c0c0;
}
.donation-text a {
  font-family: var(--secondary-font);
  color: white;
}
.donation-text a:hover {
  color: var(--primary-color);
}
.donation-description {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 400;
  font-style: normal;
}
.donation-container {
  height: 340px;
  margin-top: 6rem !important;
  margin-bottom: 6rem;
  padding: 20px;
  margin-left: 5rem;
  margin-right: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 40px 30px 40px 30px;
}

.donation-container h4 {
  font-weight: 400;
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.25rem;
  color: #181818;
}

.donation-container p {
  display: inline;
  font-size: 2.25rem;
  font-weight: 700;
  color: #181818;
  margin-left: 10px;
  font-style: normal;
}
.progress-percentage {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: #181818 !important;
  line-height: 0.75 !important;
  position: relative;
  top: 0.5rem;
  left: 4rem;
}
.progress {
  height: 14px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #e9ecef;
}

.progress-bar {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.donation-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.125rem;
}

.donation-stats span {
  font-weight: bold;
}

.donate-btn {
  position: relative;
  bottom: -2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

/* quote section */
.quote {
  padding-bottom: 134px;
  background-image: url(assets/web-quote.jpg.webp);
  background-size: cover;
}
.quote-logo {
  height: 150px;
  width: 150px;
  position: relative;
  top: 10rem;
  z-index: 0;
}
.quote h1 {
  font-family: var(--secondary-font);
  font-size: 1.625rem;
  color: #181818;
  line-height: 1.4;
  font-style: italic;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.quote p {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.9rem;
  position: relative;
  z-index: 1;
}

/* gallery section */
.gallery img {
  height: 274.78px;
  width: 20%;
  object-fit: cover;
}

/* news section */
.news-card {
  padding: 0 15px;
  margin-bottom: 1rem;
}

.news {
  padding: 6.0625rem 0 3.375rem 0;
}

.news .card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.news .card-title {
  margin-top: 1.5rem;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.33;
  color: var(--font-color);
  line-height: 1.33;
  transition: color 0.3s ease;
}
.news .card-title:hover {
  color: var(--primary-color);
}

.news-detail p {
  margin-right: 1.125rem;
  cursor: pointer;
}
.news-detail p:hover {
  color: var(--primary-color);
}
.news-text {
  font-size: 0.875rem;
  color: #7c7c7c;
  line-height: 1.75;
  font-weight: 600;
  font-style: normal;
}

/* footer section */
.footer {
  position: relative;
  background-image: url(assets/footer.jpg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  z-index: 0;
  color: white;
}
.footer .navbar-info {
  position: relative;
  z-index: 1;
  padding-top: 3.375rem;
}
.navbar-info h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
  font-style: normal;
  line-height: 0.75;
  vertical-align: middle;
  margin-top: 0.9rem;
  margin-left: 0.4rem;
}

.navbar-info p {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: white;
  font-style: normal;
  line-height: 1.75;
  font-weight: 400;
  font-family: var(--primary-font);
}
.navbar-info p i {
  margin-right: 0.5rem;
}

.useful-title,
.subscribe-title {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  line-height: 0.75;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.useful-links {
  display: flex;
  gap: 30px;
}

.useful-links ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  margin-right: 1.5rem;
}

.useful-links li {
  margin-bottom: 0.6875rem;
  margin-right: 0.6875rem;
}

.useful-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: color 0.3s;
  font-weight: 600;
}

.useful-links a i {
  color: var(--primary-color);
  margin-right: 8px;
}

.useful-links a:hover {
  color: var(--primary-color);
}

.subscribe-info,
.useful-info {
  margin-left: 9rem;
}

.subscribe-info p {
  margin-top: 2.2rem;
  margin-bottom: 2.1rem;
  line-height: 1.71;
  font-size: 0.875rem;
}
.subscribe-box {
  /* max-width: 400px; */
  margin-top: 20px;
  border-radius: 1rem;
}

.email-input {
  background-color: rgba(255, 255, 255, 0.05);
  opacity: 0.5;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 0;
  box-shadow: none;
  border: white;
}

.email-input::placeholder {
  color: white;
}

.subscribe-btn {
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  height: 40px;
  border: none;
  padding: 10px 20px;
  border-radius: 0;
  transition: background-color 0.3s;
}

.subscribe-btn:hover {
  color: white;
  background-color: var(--primary-color);
}
.footer-bottom {
  font-size: 14px;
  color: #a5a5a5;
  margin: 1rem 0;
}
@media (max-width: 1200px) {
  /* navbar */
  .header {
    height: auto;
    padding: 1rem 0;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    margin-top: 1rem;
    transition: max-height 0.5s ease-in-out;
  }

  .nav.show {
    max-height: 500px;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--font-color);
    margin-left: auto;
  }

  .col-md-8 {
    flex-direction: column !important;
    align-items: flex-start !important;
    width: 100%;
  }

  .col-md-2 {
    width: 100%;
    justify-content: space-between;
  }

  .church-name {
    font-size: 1.5rem;
  }
  .align-self-md-center {
    margin-top: 1.5rem;
    text-align: center !important;
  }
  .event .container .row {
    top: 5rem;
    height: 22rem;
  }
  .event {
    padding-bottom: 11rem !important;
  }
  .countdown-col {
    margin-top: 1.5rem !important;
    align-items: center !important;
  }
}

@media (max-width: 992px) {
  .gallery img {
    width: 33.33%;
  }
  .donation-container {
    margin-top: 2rem !important;
  }
  .donation-box {
    margin-top: 4rem !important;
  }
  .subscribe-info,
  .useful-info,
  .navbar-info,
  .footer-bottom {
    margin-left: 0.5rem !important;
  }
}

@media (max-width: 768px) {
  .gallery img {
    width: 50%;
  }
  .countdown-col {
    margin-top: 2rem !important;
  }
  .hero-title {
    font-size: 36px !important;
  }
  .hero-description {
    font-size: 16px !important;
  }
  .main-heading {
    font-size: 24px !important;
  }
  .sub-heading {
    font-size: 14px !important;
  }
  p {
    font-size: 14px !important;
  }
  .quote h1 {
    font-size: 24px !important;
  }
  .event-day {
    font-size: 2rem !important;
  }
  .event-month {
    font-size: 1rem !important;
  }
}

@media (max-width: 576px) {
  .gallery img {
    width: 100%;
  }
  .donation-container {
    margin-left: 2rem !important;
  }
  .donation-box {
    margin-top: 1rem !important;
  }
  .hero-title {
    margin-top: 2rem;
    font-size: 36px !important;
  }
  .hero-description {
    font-size: 16px !important;
  }
  .main-heading {
    font-size: 24px !important;
    margin-top: 89px;
  }
  .sub-heading {
    font-size: 14px !important;
  }
  .event-day {
    font-size: 2rem !important;
  }
  .event-month {
    font-size: 1rem !important;
  }
  p {
    font-size: 14px !important;
  }
  .quote h1 {
    font-size: 24px !important;
  }

  .quote {
    padding: 0 0.3rem 4rem 0.3rem;
  }

  .sermon-card {
    width: 100% !important;
  }
  .sermon-card .card-img {
    width: 454.4px !important;
  }
  .about-btn {
    bottom: -0.9rem;
  }
  .web_section {
    padding-top: 89px;
  }
  .mission-item {
    margin-top: 1.5rem;
  }
}
