:root {
  /* font  */
  --primary-font: "Poppins", arial, sans-serif;
  --secondary-font: "Shadows Into Light", cursive;

  /* font-color */

  /* color */
  --primary-color: #0972b7;
  --secondary-color: #a41e22;
  --tertiary-color: #feca12;
}


.nav-active{
  color: var(--primary-color) !important;
  border-radius: 6px ;
  font-weight: 700 !important;
}

.nav-active:hover{
    border-radius: 6px 6px 0 0;
}