@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
  font-size: 1rem;
  font-family: "Poppins", arial, sans-serif !important;
}
a {
  color: white !important;
  text-decoration: none !important;
}
hr {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 1rem 0;
  width: 1140px;
}
.horizontalline hr {
  margin: 48px 0;
}
:root {
  /* font  */
  --primary-font: "Poppins", arial, sans-serif;
  --secondary-font: "Shadows Into Light", cursive;

  /* font-color */

  /* color */
  --primary-color: #0088cc;
}
.container {
  width: 1140px !important;
}

/* top banner  */
.navitem i {
  font-size: 0.81rem;
}
.navitem {
  color: #999;
  font-size: 12.6px;
  padding: 6px 10px;
  letter-spacing: -0.5px;
}
.navicons {
  padding-left: 20px;
  margin-left: 10px;
}
.navicons i {
  font-size: 0.81rem;
  padding: 6px 7px;
  letter-spacing: -0.5px;
  color: #777;
}
.vertical-line {
  width: 1px;
  height: 1rem;
  background-color: #d6d2d2;
  margin: 9px 10px 0 10px;
}

/* navbar */
header {
  position: sticky;
  top: 0;
  background-color: white;
  height: 80px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-logo {
  width: 82px;
}

.nav-link {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: var(--primary-color) !important;
  padding: 8px 16px !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.3s ease-in-out !important;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: white !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  border: none;

  border-top-left-radius: 0;
  border-top: 3px solid var(--primary-color);
  background-color: #faf9f9;
}

.dropdown-item {
  color: #777 !important;
}

.dropdown-item:hover {
  background-color: #f0ecec !important;
}

.dropdown-toggle::after {
  display: none !important;
}

/* Mega Menu Custom Style */
.mega-menu {
  width: 1000px;
  left: -28rem;
  right: 0;
  top: 100%;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mega-dropdown {
  position: relative;
}

.mega-dropdown .dropdown-menu {
  display: none;
}

.mega-dropdown:hover .dropdown-menu {
  display: block;
}

.nav-icons {
  height: 28px;
  width: 28px;
  border-radius: 100%;
  margin-left: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.nav-icons:hover {
  color: white;
  box-shadow: none;
}

.facebook-icon:hover {
  background-color: #3b5a9a;
}

.twitter-icon:hover {
  background-color: #1aa9e1;
}

.linkedin-icon:hover {
  background-color: #0073b2;
}

/* herosection */
.hero-section {
  position: relative;
  background-image: url(assets/heroimg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 25, 49, 0.7);
  /* background-color: rgba(50, 50, 50, 0.6); */

  z-index: 1;
}
.hero-section .container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 6;
}
.sub-title {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -1.2px;
}
.main-title {
  font-size: 51px;
  font-weight: bolder;
  letter-spacing: -3px;
}
.hero-description {
  font-size: 16.8px;
  opacity: 0.6;
  width: 70%;
}
.hero-description:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.subtitle-div img {
  height: 10px;
  width: 37px;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}
.subtitle-div img:hover {
  opacity: 1;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.subtitle-div {
  animation: zoomIn 0.8s ease-out forwards;
  animation-delay: 0s;
}

@keyframes zoomBlurIn {
  0% {
    transform: scale(1.3);
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

.main-title {
  animation: zoomBlurIn 0.6s ease-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.hero-description .word {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.2s ease-out forwards;
  animation-delay: calc(0.2s * var(--word-index));
}

.hero-description .word:nth-child(1) {
  --word-index: 0;
}

.hero-description .word:nth-child(2) {
  --word-index: 1;
}

.hero-description .word:nth-child(3) {
  --word-index: 2;
}
.hero-description .word:nth-child(4) {
  --word-index: 3;
}
.hero-description .word:nth-child(5) {
  --word-index: 4;
}
.hero-description .word:nth-child(6) {
  --word-index: 5;
}
.hero-description .word:nth-child(7) {
  --word-index: 6;
}
.hero-description .word:nth-child(8) {
  --word-index: 7;
}
.hero-description .word:nth-child(9) {
  --word-index: 8;
}
.hero-description .word:nth-child(10) {
  --word-index: 9;
}
.hero-description .word:nth-child(11) {
  --word-index: 10;
}
.hero-description .word:nth-child(12) {
  --word-index: 11;
}
.hero-description .word:nth-child(13) {
  --word-index: 12;
}
.hero-description .word:nth-child(14) {
  --word-index: 13;
}
.hero-description .word:nth-child(15) {
  --word-index: 14;
}
.hero-description .word:nth-child(16) {
  --word-index: 15;
}
.hero-description .word:nth-child(17) {
  --word-index: 16;
}
.hero-description .word:nth-child(18) {
  --word-index: 17;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* hero-section btn */
.hero-btn-section {
  padding: 2.4rem 0;
  background-color: var(--primary-color);
  margin-bottom: 75px;
}
.hero-btn-section .container div h3 {
  font-size: 1.225rem;
  letter-spacing: -1px;
  color: white;
  font-weight: 600;
}
.hero-btn-section .container div h3 span {
  font-family: var(--secondary-font) !important;
  font-size: 1.96rem;
  font-weight: normal;
}
.hero-btn-section .container div p {
  color: white !important;
  opacity: 0.6;
  margin-left: 0.3rem !important;
  letter-spacing: -0.6px;
  z-index: 3;
}

.primary-btn {
  color: white;
  background-color: #21252a;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 6px;
}
.primary-btn:hover {
  background-color: #32383e;
}
.learnmore {
  color: white;
  opacity: 1 !important;
}
.learnmore a {
  font-weight: 600;
}
.learnmore a:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
}

/* about section */

.about-section {
}
.about-section .container {
  display: flex;
  flex-direction: column;
}
.section-header {
  font-size: 2.01rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 32px;
  color: #000;
}

.text-changing {
  display: inline-block;
  position: relative;
  padding: 6.44px 8px;
  background-color: #21252a;
  width: 180px ;
  height: 55px; 
  overflow: hidden;
  vertical-align: middle;
  margin-top: 2px;
}
.about-section-2 .container .section-header .text-changing{
  width: 140px;
}

.text-changing .word {
  position: absolute;
  width: 100%;
  left: 0;
  top: 5px;
  opacity: 0;
  transform: translateY(50px);
  color: white;
  animation: rotateWord 6s linear infinite;
}

.text-changing .word-1 {
  animation-delay: 0s;
}
.text-changing .word-2 {
  animation-delay: 2s;
}
.text-changing .word-3 {
  animation-delay: 4s;
}

@keyframes rotateWord {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  35% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}


.about-section .container p {
  font-size: 1.1rem;
  position: relative;
  opacity: 0.6;
  width: 80%;
  /* animation: ButtomTop 0.8s ease-out forwards;
  animation-delay: 0.8s; */
}

/* how it work section */
.work-section {
  position: relative;
  height: 500px;
}
.background-img {
  background-image: url(assets/background_procedure.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 370px;
  width: 88%;
}
.img-cloud {
  position: absolute;
  top: 42px;
  right: 612px;
  height: 56px;
  width: 116px;
  animation: Bouncing 1.5s linear infinite alternate;
}
.img-sun {
  height: 56px;
  width: 80px;
  position: relative;
}
@keyframes Bouncing {
  100% {
    top: 55px;
  }
  0% {
    top: 42px;
  }
}
.img-circular-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  padding: 0.34rem;
  border: 1.4px solid #c7c7c7;
  position: absolute;
}

.img-circular-container img {
  border-radius: 50%;

  object-fit: cover;
}
.img-circular-container::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 30%;
  width: 40%;
  height: 4px;
  background: rgba(0, 0, 0, 0.25);
  filter: blur(3px);
  border-radius: 50%;
  z-index: 0;
}

.strategy-img {
  top: 130px;
  left: 290px;
}
.planning-img {
  top: 108px;
  left: 480px;
}
.build-img {
  top: 120px;
  left: 670px;
}
.circular-img-big-container {
  left: 920px;
  top: 20px;
}
.circular-img-big-container {
  position: relative;
  left: -60px;
  width: 338px;
  height: 338px;
  perspective: 1000px;
}

.flipper {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: flipAnimation 8s infinite linear;
}

.flipper img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.flipper .front {
  transform: rotate3d(1, 1, 0, 0deg);
}

.flipper .back {
  transform: rotate3d(1, 1, 0, 180deg);
}

.work-description {
  position: absolute;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 1.575rem;
}
.strat-des {
  top: 315px;
  left: 325px;
}
.plan-des {
  top: 290px;
  left: 517px;
}
.build-des {
  top: 315px;
  left: 728px;
}
.work-des {
  left: 1040px;
  top: 400px;
  font-size: 30.8px;
}

/* feature section */

.feature h1 {
  font-size: 28px;
  letter-spacing: -1px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.feature h1 span {
  font-weight: 800;
}

.feature-box-img {
  padding: 0.8rem;
}
.feature-box-img i {
  color: var(--primary-color);
}
.feature-box-info {
  padding-left: 13px;
}
.feature-box-info h3 {
  font-size: 18.9px;
  margin-bottom: 4px;
  font-weight: 700;
  letter-spacing: -1px;
}
.feature-box-info p {
  font-size: 14px;
  line-height: 26px;
  color: #777;
  margin-bottom: 24px;
}
.more-feature p {
  font-size: 25.2px;
  font-weight: 400;
  margin-bottom: 2rem;
}
/* toogle */

.toogle-btn {
  background-color: #f4f4f4 !important;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border-end-end-radius: 0 !important;
  border-end-start-radius: 0 !important;
  color: black !important;
  width: 349px !important;
  height: 47px !important;
  padding-top: 11px !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
}
.fa-gem,
.fa-message,
.fas {
  color: var(--primary-color);
}
.toogle-a {
  color: black !important;
  font-size: 12.6px !important;
  font-weight: 600 !important;
}
.toogle-a:hover {
  text-decoration: underline !important;
}
.card-body {
  padding: 2rem !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-end-start-radius: 6px !important;
  border-end-end-radius: 6px !important;
  border: 4px solid #f4f4f4 !important;
}
.card-body p {
  font-size: 12.6px !important;
  color: #777 !important;
}

/* about section 2 */

.about-section-2 h4 {
  color: var(--primary-color);
  font-size: 16.8px;
  margin-bottom: 33px;
  letter-spacing: -1.2px;
  animation: ButtomTop 0.9s ease-out forwards;
  animation-delay: 3s;
}
.about-section-2 h1 span {
  background-color: var(--primary-color);
}

/* carousel section  */
.logo-carousel {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  background: white;
  padding: 20px 0;
}

.logo-track {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 25s linear infinite;
}

.logo-track img {
  height: 29px;

  vertical-align: middle;
  filter: grayscale(1);
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.logo-track img:hover {
  opacity: 1;
  filter: grayscale(0);
}

/* top button */
/* top button */
.top-button-link {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  background-color: #404040;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  z-index: 100;
  opacity: 0;
}
.top-button-link i {
  transition: all 0.3s ease;
}
.top-button-link:hover i {
  color: var(--primary-color);
}
.top-button-link.active {
  bottom: 2rem;
  opacity: 1;
  pointer-events: auto;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* review section */
.review-section {
  position: relative;
  padding-bottom: 50px;
  /* animation: ButtomTop2 0.8s ease-out forwards;
  animation-delay: 0.2s; */
}
.review-section .container {
  position: relative;
  top: -6rem;
}
.review-background-img {
  background-image: url(assets/map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 900px !important;
  height: 380px;
  margin: auto;
}

.review-title {
  font-size: 25.2px;
  font-weight: bolder;
  letter-spacing: -1.2px;
  margin-bottom: 24px;
}
.review-title span {
  font-weight: normal;
  letter-spacing: -1px;
}
.sliderimg {
  width: 45px;
}
.review-date .day {
  font-size: 1.125rem;
  font-weight: bolder;
  color: var(--primary-color);
}
.review-date .month {
  font-size: 0.7rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  height: 22px;
  width: 41.36px;
  padding: 3px 10px;
}
.review-description h4 {
  font-size: 1.05rem;
  color: var(--primary-color);
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 7px;
  letter-spacing: -1px;
}
.review-description p {
  font-size: 0.875rem;
  color: #777;
  line-height: 26px;
  padding-right: 24px;
}
.sliderimg-2 {
  width: 30px !important;
}

.fa-quote-left {
  color: white;
  position: absolute;
  left: 1.8rem;
}
.fa-caret-down {
  position: absolute;
  color: var(--primary-color);
  bottom: -2px;
  left: 2.4rem;
}
.client-review {
  background-color: var(--primary-color) !important;
  padding: 2.5rem 4rem 2.5rem 4.5rem !important;
  font-size: 16.8px !important;
  color: white;
  font-family: serif;
  border-radius: 6px;
}
.clientimg img {
  height: 25px;
  width: 25px;
}
.clientdescription h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}
.clientdescription p {
  font-size: 12.8px;
  color: #666;
  font-weight: 700;
}

/* footer */
footer {
  position: relative;
  background-color: #212529;
}
footer .row {
  padding: 70px 0;
}
.highlight {
  position: absolute;
  top: -20px;
  background-color: var(--primary-color);
  padding: 10px 20px 6px 20px;
  font-family: var(--secondary-font);
  color: white;
  font-size: 20.16px;
  line-height: 1.2;
}

.footer-title {
  font-size: 12.6px;
  font-weight: 600;
  line-height: 18px;
  margin: 0 0 14px 0;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.footer-description-1 {
  font-size: 12.6px;
  color: #777;
  transition: all 0.3s linear;
  line-height: 26px;
}
.footer-description-1.hover-effect:hover {
  color: white;
}
.fa-greater-than {
  color: var(--primary-color);
}
.sub-title-footer {
  font-size: 12.6px;
  font-weight: 500;
  opacity: 0.9;
  margin-bottom: 8px;
}
.footer-description {
  font-size: 11.34px;
  color: #777;
}
.footer-icon {
  font-size: 14px !important;
  color: var(--primary-color) !important;
}
.footer-icon-collection .nav-icons {
  background-color: white;
  color: black;
}
.footer-icon-collection .nav-icons:hover {
  color: white;
  box-shadow: none;
}

.facebook-icon:hover {
  background-color: #3b5a9a;
}

.twitter-icon:hover {
  background-color: #1aa9e1;
}

.linkedin-icon:hover {
  background-color: #0073b2;
}
/* form */
.emailfield {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.emailfield input::placeholder {
  font-size: 12px !important;
  color: #777;
}
.custom-input {
  width: 90% !important;
  padding: 12px 60px 12px 20px;
  border: none;
  border-radius: 30px !important;
  background-color: #e0e0e0;
  font-size: 14px;
  color: #333;
  outline: none;
}

.input-icon {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  color: crimson;
  font-size: 14px;
}

.subscribe-btn {
  position: absolute;
  right: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 16px;
  background: none;
  border: none;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  border-radius: 30px;
  font-size: 11.2px;
}

/* copyright */
.copyright-section {
  background-color: #16181b;
}
.copyright-section .row {
  padding: 24px 0;
}
.copyright-section .container .row img {
  width: 49px;
  height: 24px;
  opacity: 0.6;
}
.copyright-section .copyright {
  color: #555 !important;
  font-size: 11.34px;
  margin-bottom: 0;
  margin-top: 2px;
}

.copyright-link {
  font-size: 11.34px;
  color: #777 !important;
  margin-bottom: 0;
  margin-right: 1.5rem;
}
.copyright-link i {
  color: #777;
}

@media (max-width: 1280px) {
  .background-img {
    background-image: none;
    height: auto;
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .img-circular-container {
    position: static;
    width: 100px;
    height: 100px;
    margin: 1rem auto;
  }

  .img-circular-container img {
    width: 145px;
    height: 145px;
  }

  .img-circular-container::after {
    bottom: -8px;
    left: 20%;
    width: 60%;
    height: 6px;
    filter: blur(4px);
  }

  .circular-img-big-container {
    width: 145px !important;
    height: 145px !important;
    margin: 1rem auto;
  }

  .work-description {
    position: static;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }

  .work-section .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 980px) {
  .toogle-btn {
    width: 672px !important;
  }
}

/* animation */
/* @keyframes ButtomTop {
  0% {
    top: 10px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
  @keyframes ButtomTop2 {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
} */
.hidden-1 {
  top: 10px;
  opacity: 0;
  transition: all 1s;
}
.show-1 {
  top: 0;
  opacity: 1;
}

.hidden-2 {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s;
}
.show-2 {
  opacity: 1;
  transform: translateY(0);
}
.animation-time-delay:nth-child(1) {
  transition-delay: 300ms;
}
.animation-time-delay:nth-child(2) {
  transition-delay: 500ms;
}

@keyframes flipAnimation {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  25% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  30% {
    transform: rotate3d(1, 1, 0, 180deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, 180deg);
  }
  75% {
    transform: rotate3d(1, 1, 0, 180deg);
  }
  80% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}

/* animation end */
